<!DOCTYPE html>
<html  lang="en">
  {{> head }}
  <body >
    
    <div class="error">
      <ul>
      {{!log "errors" errors}}
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
      </ul>
    </div>
    <div class="today">
      {{#each sessions as |session|}}
        <h3>
          <a href="session/{{session.id}}">{{session.name}}</a>
        </h3>
        <ul>
          {{#each this.rooms as |room|}}
            <li><a href="session/{{session.id}}/room/{{room.name}}/"><strong>{{getShortRoom room.name}}</strong></a>                   
                {{#if room.access.Readers}}R:{{room.access.Readers}}{{/if}}
                {{#if room.access.Writers}}W:{{room.access.Writers}}{{/if}}
              {{#each this.groups as |group|}}
                <em>{{group.papers.0.Qual}} - {{group.papers.0.Subject}}</em> :
              {{/each}}
            </li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  </body>
</html>
